.supermarket-section{
    background-color: #fffaf2;
    padding: 60px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.supermarket-title{
    color: rgb(183, 112, 31);
    background-color: rgb(218, 180, 131);
    width: 155px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    font-size: 0.9rem;
}

.supermarket-subtitle{
    font-size: 2.5rem;
}

.supermarket-description{
    color: grey;
    font-size: 1.rem;
    margin-bottom: 40px;
}
.bottom-msg{
    font-weight: 600;
    margin-top: 30px;
}

.bottom-msg i{
    color: goldenrod
}

.supermarket-item{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0px 25px rgb(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.supermarket-item p{
    font-size: 1rem;
    font-weight: 400;
    color: grey;
}

.item i{
    background-color: goldenrod;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.image-container img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 1024px) {
    .supermarket-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .image-wrapper {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 80px;
    align-items: center;
  }

  .image-container {
    display: block;
    position: relative;
    height: 520px;
  }

  .image-container img {
    position: absolute;
    width: 280px;
    border-radius: 24px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.15);
    object-fit: cover;
  }

}
    
