.page-section {
  padding: 120px 20px;
  text-align: center;
  background-color: rgb(247, 246, 229); /* soft pastry cream background */
  border-bottom: 1px solid #f0e6d2;
}

.section-name {
  font-size: small;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: goldenrod; /* chocolate brown */
}

.section-text {
  font-weight:400;
  font-size: 15px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
  color: rgb(137, 137, 137);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}