.pastry-collection {
  background-color: #f6e1e1b3;
  padding: 70px 20px 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #3a3a3a;
}

.pastry-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.pastry-section-subtitle {
  color: rgb(183, 112, 31);
    background-color: rgb(218, 180, 131);
    width: 155px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.pastry-section-title {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.2;
}

.pastry-section-description {
  max-width: 700px;
  margin: 0 auto 50px;
  font-weight: 400;
  font-size: 1.1rem;
  color: #7d7d7d;
  line-height: 1.6;
}

.diff-containers{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.difference-container{
 width: 240px;
}

.circular-container1{
  background: linear-gradient(to bottom, #905a08, #da9605);
  font-size: xx-large;
  border-radius: 100px;
  padding: 20px;
  width: 50px;
  height: 50px;
  color: white;
}

.circular-container2{
  background: linear-gradient(to bottom, #5d4a4a, #987171);
  font-size: xx-large;
  border-radius: 100px;
  padding: 20px;
  width: 50px;
  height: 50px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.circular-container1,
.circular-container2 {
  margin: 0 auto 15px; /* centers horizontally + space below */
  display: flex;
  align-items: center;
  justify-content: center;
}


.images-container{
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}

.image-card:hover {
  transform: translateY(-8px);
}

.image-card{
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 10px 35px rgba(0,0,0,0.15);
}

.full-collection-card{
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 10px 35px rgba(0,0,0,0.15);
  padding: 20px;
  background: #fff;
  margin-top: 40px;
}

.desc{
  font-weight: 400;
  font-size: 1.1rem;
  color: #7d7d7d;
}

.full-collection-img img{
  margin-top: 20px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

/* Card image */

.images-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.images-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.3s ease;
}

.image-card:hover .image-card img {
  scale: 1.05;
}

.images-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/* Responsive */

@media (max-width: 980px) {
  .pastry-cards-wrapper {
    gap: 25px;
  }
}

@media (max-width: 860px) {
  .pastry-cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .pastry-card {
    max-width: 90%;
    margin-bottom: 30px;
  }
}
